html, body {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: hidden;
}

header {
    width: 100%;
    height: 60px;

    opacity: .9;
    border-bottom: 1px solid #ddd;
}

.brand {
    font-size: 27px;
    font-weight: 100;

    float: left;
    margin: 0;
    padding: 15px 25px;

    color: #222;
}

.github-link {
    display: block;
    float: right;
    margin: 20px 40px;
    font-size: 17px;
    text-decoration: none;
    color: #000;
}

#container {
    height: calc(100% - 70px);
}