.root {
    display: block;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;

    color: #2c3e50;
    font-size: 20px;
    line-height: 64px;
    letter-spacing: .02em;
    font-weight: 400;

}