.root {
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
    cursor: move;
}

.label {
    font-size: 14px;
    fill: #fff;
    stroke-width: 0;
}

.edgeJoint_inner {
    fill: #50cbe3;
    stroke: #50cbe3;
    stroke-width: 1;
    cursor: pointer;
}

.edgeJoint_outer {
    fill: #333D49;
    stroke: #fff;
    stroke-width: 2px;
    cursor: pointer;
}