.root {
    position: relative;
    display: flex;;

    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-sizing: content-box;
    box-sizing: border-box;

    text-overflow: clip;
    border: none;
}

.container {
    overflow: hidden;
}

.nodes {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.svg {
    width: 100%;
    height: 100%;
    padding: 2px;

    background-origin: padding-box;
    background-clip: border-box;
    background-position: -1px -1px, -1px -1px;

}

/*.root_light .svg {
    background: linear-gradient(0deg, rgba(0,0,0,0.05) 1px, rgba(0,0,0,0) 1px),
                linear-gradient(90deg, rgba(0,0,0,0.05) 1px, rgba(0,0,0,0) 1px),
                transparent;

    background-size: 40px 40px, 40px 40px;
}

.root_dark .svg {
    background: linear-gradient(0deg, rgba(255,255,255,0.05) 1px, rgba(0,0,0,0) 1px),
                linear-gradient(90deg, rgba(255,255,255,0.05) 1px, rgba(0,0,0,0) 1px),
                transparent;

    background-size: 40px 40px, 40px 40px;
}*/