@keyframes translateFromRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(320px);}
}

@keyframes translateToRight {
    0% { transform: translateX(320px); }
    100% { transform: translateX(0);}
}

.root {
    box-sizing: border-box;
    margin: 30px 0 50px;
}

.examplesTitle {
    color: #fff;
    font-weight: 400;
}

.radio div {
    border: 2px solid #50cbe3;
}

.radio div:before {
    background-color: rgba(255, 255, 255, 0.9);
}

.radio span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.1em;
}

.zoom {
    position: absolute;
    bottom: 20px;
    right: 0;
}

.zoom_in {
    margin-right: 10px;
}