@keyframes translateFromRight {
    0% { transform: translateX(0); }
    100% { transform: translateX(320px);}
}

@keyframes translateToRight {
    0% { transform: translateX(320px); }
    100% { transform: translateX(0);}
}

.root {
    position: absolute;
    bottom: 50px;
    right: 60px;
    width: 100px;
    z-index: 2000;


    box-sizing: border-box;
    max-width: 400px;
    margin: 0;
    padding: 0;

    transition: max-width .15s ease-out;
}

.root_collapsed {
    max-width: 44px;

    transition: max-width .25s ease-in;
}

.root_collapsed .content {
    display: none;
}

.inner {
    overflow: hidden;
}

.zoom {
    position: absolute;
    bottom: 20px;
    right: 0;
}

.zoom_in {
    margin-right: 10px;
}