.root {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    padding: 0 7px;
    border-radius: 3px;
    cursor: move;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    user-select: none;
    transition: box-shadow 0.5s cubic-bezier(.25,.8,.25,1);
}

.root_dragging_yes {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.label {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #222;
}

.interfacesWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.interfaces {
    flex-basis: 50%;
}

.edgeJointPoint {
    width: 5px;
    height: 5px;
    margin-top: 16px;
}

.edgeJoint_ouput {
    text-align: right;
}

.edgeJoint_input .edgeJointPoint {
    margin-right: 7px;
}

.edgeJoint_ouput .edgeJointPoint {
    margin-left: 7px;
}

.edgeJointPoint {
    display: inline-block;
    vertical-align: middle;
    background: #222;
    border-radius: 50%;
    cursor: pointer;
}
